.bg__one {
  background: url("../img/background_1.webp") no-repeat;
  background-size: cover;
  border-bottom: 1px solid #E1E1E1;
}

.link__tickets {
  background: url("../img/banner_1.webp") no-repeat;
  background-size: cover;
  .ico, .arrow__ico {
    transition: 0.3s background-color;
  }
  &:hover {
    .ico, .arrow__ico {
      background-color: #745CA1;
    }
  }
}

.link__bed {
  background: url("../img/banner_2.webp") no-repeat;
  background-size: cover;
  .ico, .arrow__ico {
    transition: 0.3s background-color;
  }
  &:hover {
    .ico, .arrow__ico {
      background-color: #F7BE2F;
    }
  }
}

.change__right__block {
  background-image: url("../img/banner_5.webp");
  background-repeat: no-repeat;
  //background-size: 101%;
  //background-position: -1px;
  background-size: 100%;
}

.list__banner {
  li {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid #E1E1E1;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}


.footer {
  background: url("../img/banner_6.webp");
  background-size: cover;
}

.burger {
  background: url("../img/icon/burger.svg") no-repeat;
  width: 40px;
  height: 40px;
}